.c-notification {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 1.5;

    &_title {
      font-size: 1rem;
      color: #343738;
    }

    &_info {
      font-size: 0.85rem;
      color: #414a4e;
    }
  }

  // notification in user message form
  &--message {
    border-radius: 5px;
    font-size: 0.75rem;
    text-align: center;
    justify-content: center;
    height: fit-content;

    &.is-info {
      width: fit-content;
      background-color: lighten($info, 13%) !important;
      padding: 7px 10px;
      margin: 10px 0 14px;
    }

    &.is-warning {
      background-color: lighten($warning, 23%) !important;
      padding: 5px 10px;
      margin-bottom: 8px;
    }
  }

  &.is-info {
    background-color: $info;
    color: black;
  }

  &.is-warning {
    background-color: $warning;
    color: black;
  }

  &.is-success {
    background-color: $success;
    color: black;
  }

  &.is-danger {
    background-color: $danger;
    color: black;
  }
}
