.p-home {
  background-color: $bkg-main;
  position: relative;

  width: 100%;
  min-height: 100vh;

  @media (min-width: $break-lg) {
    padding: $spacing-md;
  }

  @media (min-width: $break-xl) {
    padding: $spacing-lg;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 120px;
    background: rgb(0, 150, 136);
  }

  > .l-container--fluid {
    height: 100vh;
    @include random-bgr();

    @media (min-width: $break-lg) {
      height: calc(100vh - $spacing-md * 2);
    }

    @media (min-width: $break-xl) {
      height: calc(100vh - $spacing-lg * 2);
    }
  }
}
