.e-input {
  height: 100%;
  width: 100%;
  flex: 1;

  padding: 20px 10px;
  border-radius: 22px;
  border: none;

  background: white;
  color: #4a4a4aff;

  font-size: 0.9rem;

  @include input-placeholder {
    color: #999999ff;
  }
}
