$bkg-main: #dddbd1;
$header-main: #009688ff;

$font-primary: #000000;
$font-secondary: #00000099;
$font-tertiary: #00000072;

$container: 1450px;

$break-xs: 420px;
$break-sm: 767px;
$break-md: 1023px;
$break-lg: 1280px;
$break-xl: 1440px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
